<!-- Created by Blocks_n_more -->
<link rel="stylesheet" href="/shit.css" />
<link rel="stylesheet" id="dark" href="/styles.css" />
<br />
<a class="button" href="/">Join Game</a>
<a class="button" href="/host">Host Game</a>
<a class="button" href="/about">About</a>
<a class="button" onclick="shitshow()">Toggle chaos</a>
<br />
<br />

<!-- Discord embed -->
<meta property="og:site_name" content="LapQuip" />
<meta property="og:title" content="LapQuip 404" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:image" content="/favicon.ico" />
<meta property="og:description" content="Hi dunce!" />
<meta name="theme-color" content="#333333" />

<!-- Src -->
<h2>ur stupit</h2>
<h2>aka ur at 404</h2>
<script src="/gamescripts/misc.js"></script>
