<link rel="stylesheet" href="shit.css" />
<link rel="stylesheet" id="dark" href="styles.css" />
<br />
<a class="button" href="/">Join Game</a>
<a class="button" href="/host">Host Game</a>
<a class="button" href="/about">About</a>
<a class="button" onclick="shitshow()">Toggle chaos</a>
<br />
<br />
<h2>ur stupit</h2>
<h2>aka ur at 404</h2>
<script src="/gamescripts/misc.js"></script>