<!-- Created by Blocks_n_more -->
<link rel="stylesheet" href="/shit.css" />
<link rel="stylesheet" id="dark" href="/styles.css" />
<title>About LapQuip</title>
<br />
<a class="button" href="/">Join Game</a>
<a class="button" href="/host">Host Game</a>
<a class="button" onclick="shitshow()">Toggle chaos</a>
<br />
<br />

<!-- Discord embed -->
<meta property="og:site_name" content="LapQuip" />
<meta property="og:title" content="LapQuip about" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:image" content="/favicon.ico" />
<meta property="og:description" content="About lapquip!" />
<meta name="theme-color" content="#333333" />

<!-- Src -->
<style>
  h3 {
    word-wrap: normal;
  }
</style>
<h1>About LapQuip</h1>
<h2>
  LapQuip is a game created by Blocks_n_more with the intent of being similar to
  the QuipLash game by JackBox. This game is not meant to take away from JackBox
  in the slightest. For any issues relating to legality please contact
  <code>Blocks_n_more#5526</code>
</h2>
<script src="/gamescripts/misc.js"></script>
