<!-- Created by Blocks_n_more -->
<link rel="stylesheet" href="shit.css" />
<link rel="stylesheet" id="dark" href="styles.css" />
<title>LapQuip Created by Blocks_n_more</title>
<br />
<a class="button" href="/host">Host Game</a>
<a class="button" href="/about">About</a>
<a class="button" onclick="shitshow()">Toggle shitshow</a>
<br />
<br />

<!-- Instruction -->
<h1 id="directions">Type a code and username</h1>

<!-- Join GUI -->
<input
  type="number"
  id="submitcode"
  placeholder="Code"
  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
  onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;"
  required
/>
<br />
<br />
<input type="text" id="submitusername" placeholder="Username" required />
<br />
<br />
<button id="submitname" onclick="joingame()">Join</button>

<!-- JS Source -->
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  function getElm(id) {
    return document.getElementById(id);
  }
  function joingame() {
    getElm("directions").innerHTML = "Connecting to game!";
    socket.emit("joingame", {
      username: getElm("submitusername").value,
      code: getElm("submitcode").value,
    });
  }
  socket.on("connectsucessfully", () => {
    getElm("directions").innerHTML = "Connected! Wait for the game to start";
    getElm("submitname").style.display = "none";
    getElm("submitcode").style.display = "none";
    getElm("submitusername").style.display = "none";
  });
  socket.on("invalidcode", () => {
    getElm("directions").innerHTML =
      "Invalid code provided! The game might have ended";
  });
  function shitshow() {
    let dark = getElm("dark");
    if (dark.disabled) {
      dark.disabled = false;
    } else {
      dark.disabled = true;
    }
  }
</script>
