<!-- Created by Blocks_n_more -->
<link rel="stylesheet" href="shit.css" />
<link rel="stylesheet" id="dark" href="styles.css" />
<title>LapQuip Created by Blocks_n_more</title>
<br />
<a class="button" href="/host">Host Game</a>
<a class="button" href="/about">About</a>
<a class="button" onclick="shitshow()">Toggle chaos</a>
<br />
<br />

<!-- Instruction -->
<h1 id="directions">Type a code and username</h1>

<!-- Join GUI -->
<input
  type="number"
  id="submitcode"
  placeholder="Code"
  oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
  onKeyDown="if(this.value.length==4 && event.keyCode!=8) return false;"
  required
/>
<br />
<br />
<input type="text" id="submitusername" placeholder="Username" required />
<br />
<br />
<button id="submitname" onclick="joingame()">Join</button>

<!-- JS Source -->
<script src="/socket.io/socket.io.js"></script>
<script src="/gamescripts/play.js"></script>
