<!-- Created by Blocks_n_more -->
<link rel="stylesheet" href="/shit.css" />
<link rel="stylesheet" id="dark" href="/styles.css" />
<title>LapQuip Created by Blocks_n_more</title>
<br />
<a class="button" href="/">Join Game</a>
<a class="button" href="/about">About</a>
<a class="button" onclick="shitshow()">Toggle cancer</a>
<br />
<br />

<!-- Discord embed -->
<meta property="og:site_name" content="LapQuip" />
<meta property="og:title" content="LapQuip host" />
<meta property="og:type" content="website" />
<meta property="og:url" content="/" />
<meta property="og:image" content="/favicon.ico" />
<meta property="og:description" content="Host a lapquip game!" />
<meta name="theme-color" content="#333333" />

<!-- Host GUI -->
<h1 id="directions">Host a game</h1>
<button id="startgame" onclick="startgame()">Start game</button>
<h2 id="connectedplayers">Players Connected:</h2>
<h2 id="players"></h2>
<h2 id="responded"></h2>
<h2 id="responses"></h2>
<button id="host" onclick="hostgame()">Host</button>

<!-- JS Source -->
<script src="/socket.io/socket.io.js"></script>
<script src="/gamescripts/host.js"></script>
